<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
 <template>
   <style>
     :host {
       display: inline-block;
       padding: 10px;
     }
     </style>


     <div class="container">
       <div class="row">
         <h1class = "col-lg-12"> Gestor de Clientes</h1>
           <br><br />
           <button on-click="obtenerClientes">Obtener Clientes</button>
           <br><br />
           <table type border="dropdown-backdrop">
             <tbody>
               <template is="dom-repeat" items="{{clientes}}">
                 <tr>
                   <td>
                     [[item.idclientes]]
                   </td>
                   <td>
                     [[item.nombre]]
                   </td>
                   <td>
                     [[item.apellido]]
                   </td>
                 </tr>
               </template>
             </tbody>
           </table>
       </div>
     </div>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class GestorClientes extends Polymer.Element {
     static get is() { return 'gestor-clientes'; }
     static get properties() {
       return {
         clientes: {
           type: Array,
           notify: true
         }
       };
     }

     obtenerClientes() {
       var  request= new XMLHttpRequest();
       request.open("GET","http://localhost:3000/movimientos", false);
       request.send();
       this.clientes = JSON.parse(request.responseText);
       console.log(this.clientes);
     }

     anadirCliente(){
       var request= new XMLHttpRequest();
       request.open("POST", "https://services.odata.org/V4/Northwind/Northwind.svc/Customers",false);
       request.setRequestHeader("Accept", "application/json");
       request.setRequestHeader("Content-Type", "aplication/json");
       var nuevoCliente = {"CustomerID":"12345", "ContactName":"Lucas", "CompanyName":"BBVA"};
       var body =JSON.strigify(nuevoCliente);
       request.send(body);
       this.respuesta = request.responseText;
       console.log(this.respuesta);
     }
   }
   window.customElements.define(GestorClientes.is, GestorClientes);
 </script>
</dom-module>
